fastapi
uvicorn
pymongo
python-dotenv
jinja2
sentence-transformers
langchain
google-generativeai
langchain-community
langchain-huggingface
faiss-cpu
langchain-openai
langchain-google
langchain-google-genai
sentence-transformers
huggingface_hub
selenium
python-multipart
dotenv